/* PC・スマホ共通スタイル */
* {
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
/* 1rem = 16px  1rem=10px*/
}

body {
  font-family: "Noto Sans JP", serif;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  max-width: 1440px;
  margin: 0 auto 0 auto;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: all .3s ease;
}

a:hover {
  opacity: .7;
}


ul,ol {
  list-style: none;
}

li {
  list-style-type: none; /* リストマーカーを非表示 */
  padding: 0; /* ul要素のpaddingをリセット */
  margin: 0; /* ul要素のmarginをリセット */
}

/* header-navとmainを分割 */
.container{
  display: flex;
}

.right-section { /* header-nav*/
  width: 90px;
  position: absolute;
  right: 0;
}

 /* header nav*/
.header {
  position: fixed;
  height: 100vh;
  background: #E9DFC366; /* #E9DFC3 66 (40%透明度) */
  border-radius: 2px;
  font-size: 1.6rem;
  z-index: 9999;
  text-align: center;
}

.hamburger-menu {
  width: 90px;
  height: 60px;
  position: relative;
  border: none;
  background: transparent;
  appearance: none;
  padding: 0;
  cursor: pointer;
  margin-top: 10px;
  z-index: 13;
}

.hamburger-menu-bar {
  display: inline-block;
  width: 44%;
  height: 2px;
  background: #242424;
  position: absolute;
  transform: translateX(-50%);
  transition: .5s;
}

.hamburger-menu-bar:first-child {
  top: 20px;
}

.hamburger-menu-bar:nth-child(2) {
  top: 30px;
}

.hamburger-menu-bar:last-child {
  top: 40px;
}

.hamburger-menu-open .hamburger-menu-bar {
  top: 50%;
}

.hamburger-menu-open .hamburger-menu-bar:first-child {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.hamburger-menu-open .hamburger-menu-bar:last-child {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.hamburger-menu-open .hamburger-menu-bar:nth-child(2) {
  display: none;
}

.nav {
  display: none;
  background: #E9DFC3;
  border-radius: 10px;
  position: absolute;
  width: 500px;
  padding: 15px 35px 10px 35px;
  top: 0;
  right: 0;
  text-align: left;
}

.nav-logo {
  width: 180px;
  display: block;
}

.nav-logo img{
  width: 100%;
}

.nav-inner {
  margin-top: 35px;
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
}

.nav-button {
  display: flex; /* flexboxを適用 */
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.nav-button li {
  width: calc(100% - 70px);
}

.nav-button li a {
  display: block;
}

.nav-button li a img{
  width: 100%;
}

.nav-list {
  margin-top: 20px;
}

.nav-list-item {
  position: relative;
  padding-left: 56px;
  padding-bottom: 10px;
}

.nav-list-item:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;/*線の上下位置*/
  display: inline-block;
  width: 100%;/*線の長さ*/
  height: 3px;/*線の太さ*/
  transform: translateX(-50%);/*位置調整*/
  background-color: #1B56FD;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}

.nav-link {
  color: #000;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  font-weight: 700;
  font-size: 2.2rem;
}

.nav-text {
  margin-top: 30px;
}

.nav-addr {
  font-size: 2.0rem;
}

.nav-addr:not(:first-child) {
  margin-top: 10px;
}

.color-red {
  color: #FF0000;
}

.nav-reservation {
}

.nav-reservation img{
  margin-top: 35px;
  width: 80%;
}

.nav-access {
}

.nav-access img{
  margin-top: 35px;
  width: 80%;
}

.nav-TOP {
}

.nav-TOP img{
  margin-top: 35px;
  width: 80%;
}

.left-section {/* main */
  width: calc(100% - 90px);
}

/* メインビジュアル */
.mv {
  width: 100%;
}

.mv-img {
  position: relative;
}

.mv-img img{
  width: 100%;
}

.mv-title {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding:0;
  margin:0;
  font-weight: bold;
  color: #1B56FD;
  font-size: 4.0rem;
}

.main-logo-area {
  background-image: url("background-img.png");
  background-size: contain;
  position: absolute;
  width: 460px;
  height: 350px;
  top: 0;
}

.logo img{
  max-width: 55%;
  margin-top: 30px;
  margin-left: 40px;
}

.main-addr {
  font-size: 2.0rem;
  margin-top: 10px;
  margin-left: 40px;
}

.main-tel {
  font-size: 2.0rem;
  margin-top: 10px;
  margin-left: 40px;
}

.main-reservation-btm {
  width: 60%;
  height: auto;
}


.main-reservation-btm img{
  max-width: 100%;
  margin-top: 10px;
  margin-left: 30px;
}

.main{
  margin: 100px 90px 0px 90px;
}

/* ここからクリニック紹介  */
.about {

}

.about-title {
  font-size: 3.6rem;
  text-align: center;
}

.br-sp {
  display: none;
}

.about-text {
  font-size: 2.0rem;
  margin-top: 40px;
}

.about-more {
  margin-top: 70px;

}

.about-more ul {
  display: flex;
  justify-content: center;
  gap: 80px;
  /* max-width: 1280px; */
}

.about-more img {
  width: 240px;
  height: auto;
}

/* 当院で大切にしていること */
.about-important {
  font-size: 3.2rem;
  font-weight: 700;
  margin-top: 100px;
}

.about-important ::before {
  content: "●";
  color: #1B56FD;
  margin-right: 15px;
}

.about-container{
  display: flex;
  margin-top: 60px;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  /* max-width: 1200px; */
}

.important-list {
  /* height: 450px; */
  width: calc( 100% / 3 -  50px * 2 / 3 );
  /* （100% / カード枚数 - 余白の幅 * 余白の数 / カード枚数 ) */
  /* min-width: 300px; */
}

.important-list-title {
  background: -moz-linear-gradient(#1B56FD66, #1B56FDCC);
  background: -webkit-linear-gradient(#1B56FD66, #1B56FDCC);
  background: linear-gradient(to right, #1B56FD66, #1B56FDCC);
  border-radius: 2px;
  font-size: 1.8rem;
  padding: 15px 30px;
  text-align: center;
}

.br-sp2 {
  display: none;
}

.important-list-text {
  font-size: 1.6rem;
  margin-top: 30px;
}

.important-list-img {
  margin-top: 25px;
}

.important-list-img img{

}

/* 当院の特徴 */
.features {
  font-size: 3.2rem;
  font-weight: 700;
  margin-top: 100px;
}

.slider-for {
  width: 600px;
  margin: auto;
  margin-top: 60px;
}

.slider-for img{
  width: 100%;
  height: auto;
  border-radius: 2px;
  object-fit: cover;
}

  /* 矢印の色 */
.slick-prev:before, .slick-next:before{
  color: #1B56FD!important;
}

.slider-nav{
  width: 600px;
  margin: 30px auto 0;
}

.slider-nav .slick-slide {
  margin: 0 5px; /* 左右に5pxの間隔 */
}

.slider-nav img {
  width: 180px;
  height: auto;
  border-radius: 2px;
  object-fit: cover;
  opacity: 0.5;
  cursor: pointer;
}

.slider-nav .slick-current img {
  opacity: 1;
  border: 2px solid #1B56FD;
}



.features-container {
  display: flex;
  margin: 90px 60px 0 60px;
  justify-content: center;
  gap: 110px;

}

.features-list {
  width: calc( 100% / 2 -  110px * 1 / 2 );
  /* （100% / カード枚数 - 余白の幅 * 余白の数 / カード枚数 ) */
}

.features-list-title {
  background: -moz-linear-gradient(#1B56FD66, #1B56FDCC);
  background: -webkit-linear-gradient(#1B56FD66, #1B56FDCC);
  background: linear-gradient(to right, #1B56FD66, #1B56FDCC);
  border-radius: 2px;
  width: auto;
  margin: 0 auto;
  font-size: 1.8rem;
  padding: 10px 45px;
  text-align: center;
}

.features-list-text {
  font-size: 1.6rem;
  margin-top: 30px;
}

.features-list-img {
  text-align: center;
  margin-top: 25px;
}

.features-list-img img{
  width: 350px;
  height: auto;
}

/* 院長あいさつ */
.message {
  font-size: 3.2rem;
  font-weight: 700;
  margin-top: 100px;
}

.message ::before {
  content: "●";
  color: #1B56FD;
  margin-right: 15px;
}

/* 松本院長 */
.director-container {
  margin-top: 60px;
}

.director-list {
  display: flex;
  gap: 20px;
  background-color: rgba(27, 86, 253, 0.1);
  border-radius: 10px;
  padding: 25px 50px 25px 110px;
  align-items: center;
}

.name {
  width: calc( 100% / 2 -  20px * 1 / 2 );
  /* （100% / カード枚数 - 余白の幅 * 余白の数 / カード枚数 ) */
}

.director {
  font-size: 2.2rem;
}

.director-name {
  display: flex;
}

.name-ja {
  font-size: 2.4rem;
}

.name-en {
  font-size: 2.4rem;
  margin-left: 40px;
}

.director-img {
  width: calc( 100% / 2 -  20px * 1 / 2 );
  /* （100% / カード枚数 - 余白の幅 * 余白の数 / カード枚数 ) */
}

.director-img img{
  width: 450px;
  height: auto;
  border-radius: 2px;
}

.director-message {
  margin: 40px 100px 0 100px;
}

.director-text {
  font-size: 1.8rem;
}

.director-career {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-top: 40px;
  border-top: 2px solid #1B56FD50;;
  border-bottom: 2px solid #1B56FD50;;
  padding: 20px;
}

.career-list {

}

.career-title {
  color: #1B56FD;
  font-size: 2.0rem;
}

.career-text {
  margin-top: 20px;
}

.career-detail {
  font-size: 1.8rem;
}

/* 田中医師 */
.dr-container {
  margin-top: 100px;
}

.dr-list {
  display: flex;
  gap: 20px;
  background-color: rgba(27, 86, 253, 0.1);
  border-radius: 10px;
  padding: 25px 50px 25px 110px;
  align-items: center;
}

.dr-name {
  width: calc( 100% / 2 -  20px * 1 / 2 );
  /* （100% / カード枚数 - 余白の幅 * 余白の数 / カード枚数 ) */
}

.doctor {
  font-size: 2.2rem;
}

.dr-names {
  display: flex;
}

.dr-name-ja {
  font-size: 2.4rem;
}

.dr-name-en {
  font-size: 2.4rem;
  margin-left: 40px;
}

.dr-img {
  width: calc( 100% / 2 -  20px * 1 / 2 );
  /* （100% / カード枚数 - 余白の幅 * 余白の数 / カード枚数 ) */
}

.dr-img img{
  width: 450px;
  height: auto;
  border-radius: 2px;
}

.dr-message {
  display: flex;
  justify-content: space-around;
  margin: 40px 30px 0 30px;
}

.dr-text {
  font-size: 1.8rem;

}

.dr-career {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  border-top: 2px solid #1B56FD50;;
  border-bottom: 2px solid #1B56FD50;;
  padding: 20px;
}

.dr-career-list {

}

.dr-title {
  color: #1B56FD;
  font-size: 2.0rem;
}

.dr-text {
  margin-top: 20px;
}

.dr-detail {
  font-size: 2.0rem;
}

/* ここからフッター */
.footer {
  margin-top: 150px;
}

.footer-logo {
  text-align: center;
}

.footer-logo img{
  width: 370px;
  height: auto;
}

.footer-container {
  margin: 30px 40px 30px 40px;
  display: flex;
  gap: 65px;
}

.footer-left {
  width: 50.2%;
}

.footer-addr {
  font-size: 1.8rem;
}

.br-sp{
  display: none;
}

.footer-tel {
  font-size: 2.4rem;
  color: #1B56FD;
  margin-top: 30px;
}

.flex-tel{
  display: flex;
  margin: 20px 0 0 0;
  justify-content: space-between;
}

.tel-number{
  font-size: 2.6rem;
  line-height: 60px;
  margin-left: 15px;
}

.footer-btm {
  cursor: pointer;
  width: 240px;
}

.footer-btm img{
  height: auto;
}

.flex-information{
  display: flex;
  margin: 40px 0 0 0;
}

.footer-information{
  font-size: 2.6rem;
  color: #1B56FD;
}

.closed-days{
  font-size: 2.0rem;
  color: #000;
  margin-left: auto;
  margin-top: 20px;
}

.information-img{
  margin-top: 20px;
}

.information-img img{
}

.footer-right {
  width: 45.3%;
  /* 右のiframe550px / 全体（左の表の617px+gap48px+右のiframe550px）1215px */
}

.footer-iframe-wrap {
  position: relative;
  width: 100%;
  padding-top: calc(550 / 550 * 100%);
}

.footer-iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.footer-nav {
  background-color: #1B56FD66;/*  66 (40%透明度) */
  margin-top: 40px;
  text-align: center;
}

.footer-nav-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin: 40px 20px 60px 20px;
  font-size: 2.0rem;
}

.footer-column {
  text-align: left;
  min-width: 120px;
  margin-top: 40px;
}

.footer-column a {
  font-weight: 700;
  text-decoration: none;
  color: #000;
  display: block;
}

.footer-column ul {
  list-style: none;
  font-size: 1.8rem;
}

.footer-column ul li {
  margin-top: 10px;
}

.footer-column ul li a {
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.footer-copy {
  font-size: 1.8rem;
  color: #333;
  padding-bottom: 20px;
}


/* レスポンシブ */
@media screen and (max-width: 1279.9px) {

.right-section { /* header-nav*/
  width: 60px;
}

 /* header nav */
.header {
  font-size: 1.4rem;
}

.hamburger-menu {
  width: 60px;
  height: 30px;
  margin-top: 5px;
}

.hamburger-menu-bar {
}

.hamburger-menu-bar:first-child {
  top: 15px;
}

.hamburger-menu-bar:nth-child(2) {
  top: 20px;
}

.hamburger-menu-bar:last-child {
  top: 25px;
}

.hamburger-menu-open .hamburger-menu-bar {
  top: 50%;
}

.hamburger-menu-open .hamburger-menu-bar:first-child {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.hamburger-menu-open .hamburger-menu-bar:last-child {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.hamburger-menu-open .hamburger-menu-bar:nth-child(2) {
  display: none;
}

.nav {
  width: 330px;
  padding: 10px 30px 10px 30px;
}

.nav-logo {
  width: 150px;
}

.nav-logo img{
}

.nav-inner {
  margin-top: 20px;
  max-width: 270px;
}

.nav-button {
}

.nav-button li {
}

.nav-button li a {
}

.nav-button li a img{
}

.nav-list {
  margin-top: 15px;
}

.nav-list-item {
  padding-left: 35px;
  padding-bottom: 8px;
}

.nav-list-item:before {
  height: 2px;
}

.nav-link {
  margin-top: 10px;
  font-size: 1.4rem;
}

.nav-text {
  margin-top: 20px;
}

.nav-addr {
  font-size: 1.2rem;
}

.nav-addr:not(:first-child) {
  margin-top: 8px;
}

.color-red {
}

.nav-reservation img{
  margin: 30px 5px 0 5px;
  width: 70%;
}

.nav-access img{
  margin: 30px 5px 0 5px;
  width: 70%;
}

.nav-TOP {

}

.nav-TOP img{
  margin: 30px 5px 0 5px;
  width: 70%;
}

.left-section {/* main */
  width: calc(100% - 60px);
}

/* メインビジュアル */
.mv-title {
  font-size: 3.2rem;
}
.main-logo-area {
  width: 350px;
  height: 260px;
}

.logo img{
  width: 80%;
  height: auto;
}

.main-addr {
  font-size: 1.6rem;
}

.main-tel {
  font-size: 1.6rem;
}

.main-reservation-btm {
  width: 50%;
}

.main-reservation-btm img{

}

.main{
  margin: 40px 60px 0px 60px;
}

/* ここからクリニック紹介  */
.about {

}

.about-title {
  font-size: 2.6rem;
}

.br-sp{
  display: block;
}

.about-text {
  font-size: 1.4rem;
  margin-top: 50px;
}

.about-more {
  margin-top: 50px;
}

.about-more ul {
  gap: 50px;
  /* max-width: 1280px; */
}

.about-more img {
  width: 150px;
  height: auto;
}

/* 当院で大切にしていること */
.about-important {
  font-size: 2.2rem;
  margin-top: 50px;
}

.about-important ::before {
  content: "●";
  color: #1B56FD;
  margin-right: 15px;
}

.about-container{
  display: flex;
  margin-top: 40px;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  /* max-width: 1200px; */
}

.important-list {
  /* height: 450px; */
  width: calc( 100% / 3 -  40px * 2 / 3 );
  /* （100% / カード枚数 - 余白の幅 * 余白の数 / カード枚数 ) */
  /* min-width: 300px; */
}

.important-list-title {
  font-size: 1.6rem;
  padding: 10px 10px;
}

.br-sp2{
  display: block;
}


.important-list-text {
  font-size: 1.4rem;
  margin-top: 30px;
}

.important-lis-img {
  margin-top: 30px;
}

.important-lis-img img{

}

/* 当院の特徴 */
.features {
  font-size: 2.2rem;
  margin-top: 50px;
}

.slider-for {
  width: 400px;
  margin: auto;
  margin-top: 40px;
}

.slider-for img{

}

.slider-nav{
  width: 400px;
  margin: 30px auto 0;
}

.slider-nav .slick-slide {
  margin: 0 5px; /* 左右に5pxの間隔 */
}

.slider-nav img {
  width: 150px;
  height: auto;
}

.slider-nav .slick-current img {

}

.features-container {
  display: flex;
  margin: 40px 40px 0 40px;
  gap: 50px;

}

.features-list {
  width: calc( 100% / 2 -  50px * 1 / 2 );
  /* （100% / カード枚数 - 余白の幅 * 余白の数 / カード枚数 ) */
}

.features-list-title {
  font-size: 1.6rem;
  padding: 10px 10px;
}

.features-list-text {
  font-size: 1.4rem;
  margin-top: 30px;
}

.features-list-img {
  text-align: center;
  margin-top: 20px;
}

.features-list-img img{
  width: 350px;
  height: auto;
}

/* 院長あいさつ */
.message {
  font-size: 2.2rem;
  margin-top: 50px;
}

.message ::before {
  content: "●";
  color: #1B56FD;
  margin-right: 15px;
}

.director-container {
  margin-top: 40px;
}

.director-list {
  padding: 20px 35px 20px 70px;
}

.name {

}

.director {
  font-size: 1.4rem;
}

.director-name {
  display: flex;
}

.name-ja {
  font-size: 1.6rem;
}

.name-en {
  font-size: 1.6rem;
  margin-left: 20px;
}

.director-img {

}

.director-img img{
  width: 360px;
}

.director-message {
  margin: 30px 30px 0 30px;
}

.director-text {
  font-size: 1.4rem;
}

.director-career {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.0rem 2.0rem;
  margin-top: 30px;
  border-top: 2px solid #1B56FD50;;
  border-bottom: 2px solid #1B56FD50;;
  padding: 20px;
  place-items: center;
}

.career-list {
  display: inline-block;
  text-align: left;
}

.career-title{
  color: #1B56FD;
  font-size: 1.6rem;
}

.career-text {
  margin-top: 10px;
}

.career-detail {
  font-size: 1.4rem;
}

/* 田中医師 */
.dr-container {
  margin-top: 40px;
}

.dr-list {
  padding: 20px 35px 20px 70px;
}

.dr-name {

}

.doctor {
  font-size: 1.4rem;
}

.dr-names {
  display: flex;
}

.dr-name-ja {
  font-size: 1.6rem;
}

.dr-name-en {
  font-size: 1.6rem;
  margin-left: 20px;
}

.dr-img {

}

.dr-img img{
  width: 360px;
}

.dr-message {
  display: block;
  margin: 20px 20px 0 20px;
  text-align: center;
}

.dr-text {
  font-size: 1.4rem;
  margin-top: 10px;
  display: inline-block;
  text-align: left;
}

.dr-career {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #1B56FD50;;
  border-bottom: 2px solid #1B56FD50;;
  padding: 20px;
  margin-top: 30px;
}

.dr-career-list {

}

.dr-title {
  color: #1B56FD;
  font-size: 1.6rem;
  text-align: left;
}

.dr-text {
  margin-top: 10px;
}

.dr-detail {
  font-size: 1.4rem;
}



/* ここからフッター */
.footer {
  margin-top: 100px;
}

.footer-logo {
  text-align: center;
}

.footer-logo img{
  width: 250px;
  height: auto;
}

.footer-container {
  margin: 30px 25px 30px 25px;
  display: flex;
  gap: 50px;
}

.footer-left {
  width: 50.2%;
}

.footer-addr {
  font-size: 1.4rem;
}

.br-sp{
  display: block;
}

.footer-tel {
  font-size: 2.0rem;
  margin-top: 20px;
}

.flex-tel{
  display: block;
  margin: 10px 0 0 0;
}

.tel-number{
  font-size: 2.4rem;
  line-height: 30px;
  margin-left: 10px;
}

.footer-btm {
  margin-left: auto;
  cursor: pointer;
}

.footer-btm img{
  width: 220px;
  height: 55px;
  margin-top: 10px;
  margin-left: 10px;
}

.flex-information{
  display: flex;
  margin: 20px 0 0 0;
}

.footer-information{
  font-size: 2.2rem;
}

.closed-days{
  font-size: 1.4rem;
  color: #000;
  margin-left: auto;
  margin-top: 10px;
}

.information-img{
  margin-top: 15px;
}

.information-img img{
}

.footer-right {
  width: 45.3%;
  /* 右のiframe550px / 全体（左の表の617px+gap48px+右のiframe550px）1215px */
}

.footer-iframe-wrap {
  position: relative;
  width: 100%;
  padding-top: calc(550 / 550 * 100%);
}

.footer-iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.footer-nav {
  background-color: #1B56FD66;/*  66 (40%透明度) */
  margin-top: 30px;
  text-align: center;
}

.footer-nav-category {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.0rem 4.0rem;
  margin: 30px 15px 50px 15px;
  font-size: 1.8rem;
}

.footer-column {
  text-align: left;
  min-width: 120px;
  margin-top: 30px;
}

.footer-column a {
  font-weight: 700;
  text-decoration: none;
  color: #000;
  display: block;
}

.footer-column ul {
  list-style: none;
  font-size: 1.4rem;
}

.footer-column ul li {
  margin-top: 10px;
}

.footer-column ul li a {
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.footer-copy {
  font-size: 1.6rem;
  color: #333;
  padding-bottom: 20px;
  text-align: center;

}
}

/* メインビジュアル */
@media screen and (max-width: 1099.9px) {
.main-logo-area {
  width: 280px;
  height: 170px;
}

.logo img{
  width: 50%;
  height: auto;
  margin-top: 10px;
  margin-left: 20px;
}

.main-addr {
  font-size: 1.2rem;
  margin-top: 5px;
  margin-left: 20px;
}

.main-tel {
  font-size: 1.4rem;
  margin-top: 5px;
  margin-left: 20px;
}

.main-reservation-btm img{
  width: 80%;
  height: auto;
  margin-top: 5px;
  margin-left: 20px;
}

}

@media screen and (max-width: 767.9px) {
.right-section { /* header-nav*/
  width: 60px;
}

 /* header nav*/
.header {
  height: 0vh;
  opacity: 1;
}

.hamburger-menu {
  width: 55px;
  height: 35px;
  background: #E9DFC366;
  border-radius: 10px;
  padding: 0;
}

.hamburger-menu-bar {
}

.hamburger-menu-bar:first-child {
  top: 10px;
}

.hamburger-menu-bar:nth-child(2) {
  top: 15px;
}

.hamburger-menu-bar:last-child {
  top: 20px;
}

.hamburger-menu-open .hamburger-menu-bar {
  top: 50%;
}

.hamburger-menu-open .hamburger-menu-bar:first-child {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.hamburger-menu-open .hamburger-menu-bar:last-child {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.hamburger-menu-open .hamburger-menu-bar:nth-child(2) {
  display: none;
}

.nav {
  width: 100vw;
  height: 100vh;
  padding: 30px 60px 10px 60px;
}

.nav-logo {
  width: 150px;
  margin: 0 auto;
}

.nav-logo img{
}

.nav-inner {
  margin-top: 20px;
  max-width: 270px;
}


.nav-button {
}

.nav-button li {
}

.nav-button li a {
}

.nav-button li a img{
}

.nav-list {
  margin-top: 10px;
}

.nav-list-item {
  padding-left: 25px;
  padding-bottom: 8px;
}

.nav-list-item:before {
}

.nav-link {
  margin-top: 10px;
  font-size: 1.2rem;
}

.nav-text {
  margin-top: 20px;
}

.nav-addr{
  font-size: 1.0rem;
}

.nav-addr:not(:first-child) {
  margin-top: 8px;
}

.color-red {
}

.nav-reservation {
  display: none;
}

.nav-access {
  display: none;
}

.nav-TOP {
  font-size: 1.4rem;
  position: fixed;
  width: 40px;
  bottom: 10px;
}

.nav-TOP img{
  width: 75%;

}

.left-section {/* main */
  width: calc(100% - 0px);
}

/* メインビジュアル */
.mv-title {
  font-size: 2.0rem;
}
.main-logo-area {
  width: 175px;
  height: 175px;
}

.logo img{
  width: 70%;
  height: auto;
  margin-top: 10px;
  margin-left: 20px;
}

.main-addr {
  font-size: 1.0rem;
  margin-top: 5px;
  margin-left: 20px;
}

.main-tel {
  font-size: 1.2rem;
  margin-top: 5px;
  margin-left: 20px;
}

.main-reservation-btm img{
  width: 100%;
  height: auto;
  margin-top: 5px;
  margin-left: 20px;
}

.main{
  margin: 40px 40px 0px 40px;
}

/* ここからクリニック紹介  */
.about {

}

.about-title {
  font-size: 1.8rem;
}

.br-sp{
  display: block;
}

.about-text {
  font-size: 1.2rem;
  margin-top: 30px;
}

.about-more {
  margin-top: 30px;
}

.about-more ul {
  gap: 30px;
  /* max-width: 1280px; */
}

.about-more img {
  width: 110px;
  height: auto;
}

.about-important {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 30px;
}

.about-important ::before {
  content: "●";
  color: #1B56FD;
  margin-right: 15px;
}

.about-container{
  display: block;
  text-align: center;
  margin-top: 0px;
  /* gap: 40px;
  flex-wrap: wrap; */
  /* max-width: 1200px; */
}

.important-list {
  /* height: 450px; */
  /* width: calc( 100% / 3 -  40px * 2 / 3 ); */
  /* （100% / カード枚数 - 余白の幅 * 余白の数 / カード枚数 ) */
  /* min-width: 300px; */
  width: 100%;
  margin-top: 20px;
}

.important-list-title {
  font-size: 1.4rem;
  padding: 10px 10px;
  width: 80%;
  margin: 0 auto;
}

.br-sp2{
  display: none;
}


.important-list-text {
  font-size: 1.2rem;
  display: inline-block;
  text-align: left;
  margin-top: 20px;
}

.important-list-img {
  margin-top: 20px;
}

.important-list-img img{
  width: 300px;
  height: auto;
}


/* 当院の特徴 */
.features {
  font-size: 1.4rem;
  margin-top: 30px;
}

.slider-for {
  width: 400px;
  margin: auto;
  margin-top: 20px;
}

.slider-for img{
  width: 100%;
  height: auto;
  border-radius: 2px;
  object-fit: cover;
}

.slider-nav{
  width: 400px;
  margin: 30px auto 0;
}

.slider-nav .slick-slide {
  margin: 0 5px; /* 左右に5pxの間隔 */
}

.slider-nav img {
  width: 150px;
  height: auto;
  border-radius: 2px;
  object-fit: cover;
  opacity: 0.5;
  cursor: pointer;
}

.slider-nav .slick-current img {
  opacity: 1;
  border: 2px solid #1B56FD;
}

.features-container {
  display: block;
  text-align: center;
  margin: 0;
}

.features-list {
  width: 100%;
  margin-top: 20px;
}

.features-list-title {
  font-size: 1.4rem;
  padding: 10px 10px;
  width: 80%;
  margin: 0 auto;
}

.features-list-text {
  font-size: 1.2rem;
  display: inline-block;
  text-align: left;
  margin-top: 20px;
}

.features-list-img {
  margin-top: 20px;
}

.features-list-img img{
  width: 300px;
  height: auto;
}

/* 院長あいさつ */
.message {
  font-size: 1.4rem;
  margin-top: 30px;
}

.message ::before {
  content: "●";
  color: #1B56FD;
  margin-right: 15px;
}

.director-container {
  margin-top: 20px;
}

.director-list {
  gap: 10px;
  padding: 15px 30px 15px 60px;
}

.name {
  width: calc( 100% / 2 -  10px * 1 / 2 );
  /* （100% / カード枚数 - 余白の幅 * 余白の数 / カード枚数 ) */
}

.director {
  font-size: 1.2rem;
}

.director-name {
  display: block;
}

.name-ja {
  font-size: 1.4rem;
}

.name-en {
  font-size: 1.4rem;
  margin-left: 10px;
}

.director-img {
  width: calc( 100% / 2 -  10px * 1 / 2 );
  /* （100% / カード枚数 - 余白の幅 * 余白の数 / カード枚数 ) */
}

.director-img img{
  width: 250px;
  height: auto;
}

.director-message {
  margin: 30px 30px 0 30px;
}

.director-text {
  font-size: 1.2rem;
}

.director-career {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.0rem 1.0rem;
  margin-top: 20px;
  border-top: 2px solid #1B56FD50;;
  border-bottom: 2px solid #1B56FD50;;
  padding: 10px;
  place-items: center;
}

.career-list {
  display: inline-block;
  text-align: left;
}

.career-title{
  font-size: 1.4rem;
}

.career-text {
  margin-top: 10px;
}

.career-detail {
  font-size: 1.2rem;
}

/* 田中医師 */
.dr-container {
  margin-top: 20px;
}

.dr-list {
  padding: 15px 30px 15px 60px;
}

.dr-name {

}

.doctor {
  font-size: 1.2rem;
}

.dr-names {
  display: block;
}

.dr-name-ja {
  font-size: 1.4rem;
}

.dr-name-en {
  font-size: 1.4rem;
  margin-left: 10px;
}

.dr-img {

}

.dr-img img{
  width: 250px;
}

.dr-message {
  display: block;
  margin: 20px 20px 0 20px;
  text-align: center;
}

.dr-text {
  font-size: 1.2rem;
  margin-top: 10px;
  display: inline-block;
  text-align: left;
}

.dr-career {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #1B56FD50;;
  border-bottom: 2px solid #1B56FD50;;
  padding: 10px;
  margin-top: 20px;
}

.dr-career-list {

}

.dr-title {
  color: #1B56FD;
  font-size: 1.4rem;
  text-align: left;
}

.dr-text {
  margin-top: 10px;
}

.dr-detail {
  font-size: 1.2rem;
}




/* ここから診療内容 */
.services {
  text-align: center;
}

.services-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 60px;
}

.services-text {
  font-size: 1.2rem;
  margin-top: 15px;

}

.services-container {
  gap: 20px;
  max-width: 425px;
}

.services-list {
  height: 190px;
  border: 3px solid #1B56FD;
  border-radius: 2px;
  width: calc( 100% / 4 -  20px * 3 / 4 );
  /* （100% / カード枚数 - 余白の幅 * 余白の数 / カード枚数 ) */
  min-width: 130px;
}

.services-list-title {
  font-size: 1.4rem;
  margin-top: 15px;
}

.services-list-img {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1B56FD66;/*  66 (40%透明度) */
  margin: 0 auto;
  align-items: center;
  margin-top: 15px;
}

.services-list-img img{
  margin: 0 auto;
  width: 60%;
}

.services-list-text {
  font-size: 1.2rem;
  margin-top: 15px;
}

.arrow{
	position: relative;
	display: flex;
	color: #1B56FD;
}

.arrow::before,
.arrow::after{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	content: "";
	vertical-align: middle;
}

.services-list-arrow::before{
  top: 5px;
	left: 90px;
	width: 20px;
	height: 3px;
	background: #1B56FD;
	transform: rotate(45deg);
}
.services-list-arrow::after{
  top: 5px;
	left: 90px;
	width: 20px;
	height: 20px;
	border-right: 3px solid #1B56FD;
	border-bottom: 3px solid #1B56FD;
}


/* ここから院長あいさつ */
.message {
  margin-top: 50px;
}

.message-title {
  font-size: 1.8rem;
}

.message-wrap{
  display: block;
  margin-top: 20px;
}

.message-img {
  text-align: center;
  margin-top: 20px;
}

.message-img img{
  width: 70%;
}

.message-text {
  font-size: 1.2rem;
  margin-top: 20px;
}

.message-more {

}

.message-more img{
  width: 110px;
  height: 32px;
  margin-top: 20px;
}

/* ここからフッター */
.footer {
  margin-top: 40px;
}

.footer-logo {
  text-align: center;
}

.footer-logo img{
  width: 150px;
  height: auto;
}

.footer-container {
  margin: 20px 25px 20px 25px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-left {
  width: 90%;
  text-align: center;
}

.footer-addr {
  font-size: 1.2rem;
}

.br-sp{
  display: block;
}

.footer-tel {
  font-size: 1.6rem;
  margin-top: 20px;
}

.flex-tel{
  display: block;
  margin: 10px 0 0 0;
}

.tel-number{
  font-size: 1.8rem;
  line-height: 30px;
  margin-left: 10px;
}

.footer-btm {
  margin-left: auto;
  cursor: pointer;
}

.footer-btm img{
  width: 160px;
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
}

.flex-information{
  display: block;
  margin: 40px 0 0 0;
}

.footer-information{
  font-size: 1.8rem;
  color: #1B56FD;
}

.closed-days{
  font-size: 1.0rem;
  color: #000;
  text-align: right;
}

.information-img{
  margin-top: 10px;
}

.information-img img{
  width: 90%;
}

.footer-right {
  width: 100%;
}

.footer-iframe-wrap {
  position: relative;
  width: 100%;
  padding-top: calc(450 / 450 * 100%);
}

.footer-iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.footer-nav {
  background-color: #1B56FD66;/*  66 (40%透明度) */
  margin-top: 30px;
  text-align: start;
}

.footer-nav-category {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.0rem 1.0rem;
  margin: 20px 15px 20px 15px;
  font-size: 1.2rem;
}

.footer-column {
  text-align: left;
  min-width: 120px;
  margin-top: 30px;
}

.footer-column a {
  font-weight: 700;
  text-decoration: none;
  color: #000;
  display: block;
}

.footer-column ul {
  list-style: none;
  font-size: 1.0rem;
}

.footer-column ul li {
  margin-top: 10px;
}

.footer-column ul li a {
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.footer-copy {
  font-size: 1.4rem;
  color: #333;
  padding-bottom: 20px;

}
}

@media screen and (max-width: 519.9px) {

/* 院長あいさつ */
.director-career {
  display: block;
  margin-top: 20px;
  border-top: 2px solid #1B56FD50;;
  border-bottom: 2px solid #1B56FD50;;
  place-items: center;
  padding: 0 0 20px 0;
}

.career-list {
  display: block;
  text-align: center;
}

.career-title{
  margin-top: 20px;
}

.career-text {
  margin-top: 0px;
}

/* 田中医師 */
.dr-career {
  display: block;
  margin-top: 20px;
  border-top: 2px solid #1B56FD50;;
  border-bottom: 2px solid #1B56FD50;;
  place-items: center;
  padding: 0 0 20px 0;
}

.dr-career-list {
  display: block;
  text-align: center;
}

.dr-title {
  margin-top: 20px;
}

.dr-text {
  margin-top: 0px;
}


/* フッター */
.footer-column {
  text-align: left;
  min-width: 60px;
  margin-top: 40px;
}
.footer-nav-category {
  grid-template-columns: repeat(3, 1fr);
}
}

@media screen and (max-width: 449.9px) {
.main-logo-area {
  width: 120px;
  height: 150px;
}

.logo img{
  max-width: 60%;
  margin-top: 10px;
  margin-left: 10px;
}

.main-addr {
  display: none;
}

.main-tel {
  font-size: 1.0rem;
  margin-top: 5px;
  margin-left: 10px;
}

.main-reservation-btm {
  width: 55%;
  height: auto;
}


.main-reservation-btm img{
  max-width: 100%;
  margin-top: 10px;
  margin-left: 10px;
}
}






