/* PC・スマホ共通スタイル */
* {
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
/* 1rem = 16px  1rem=10px*/
}

body {
  font-family: "Noto Sans JP", serif;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  max-width: 1440px;
  margin: 0 auto 0 auto;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: all .3s ease;
}

a:hover {
  opacity: .7;
}


ul,ol {
  list-style: none;
}

li {
  list-style-type: none; /* リストマーカーを非表示 */
  padding: 0; /* ul要素のpaddingをリセット */
  margin: 0; /* ul要素のmarginをリセット */
}

/* header-navとmainを分割 */
.container{
  display: flex;
}

.right-section { /* header-nav*/
  width: 90px;
  position: absolute;
  right: 0;
}

 /* header nav*/
.header {
  position: fixed;
  height: 100vh;
  background: #E9DFC366; /* #E9DFC3 66 (40%透明度) */
  border-radius: 2px;
  font-size: 1.6rem;
  z-index: 9999;
  text-align: center;
}

.hamburger-menu {
  width: 90px;
  height: 60px;
  position: relative;
  border: none;
  background: transparent;
  appearance: none;
  padding: 0;
  cursor: pointer;
  margin-top: 10px;
  z-index: 13;
}

.hamburger-menu-bar {
  display: inline-block;
  width: 44%;
  height: 2px;
  background: #242424;
  position: absolute;
  transform: translateX(-50%);
  transition: .5s;
}

.hamburger-menu-bar:first-child {
  top: 20px;
}

.hamburger-menu-bar:nth-child(2) {
  top: 30px;
}

.hamburger-menu-bar:last-child {
  top: 40px;
}

.hamburger-menu-open .hamburger-menu-bar {
  top: 50%;
}

.hamburger-menu-open .hamburger-menu-bar:first-child {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.hamburger-menu-open .hamburger-menu-bar:last-child {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.hamburger-menu-open .hamburger-menu-bar:nth-child(2) {
  display: none;
}

.nav {
  display: none;
  background: #E9DFC3;
  border-radius: 10px;
  position: absolute;
  width: 500px;
  padding: 15px 35px 10px 35px;
  top: 0;
  right: 0;
  text-align: left;
}

.nav-logo {
  width: 180px;
  display: block;
}

.nav-logo img{
  width: 100%;
}

.nav-inner {
  margin-top: 35px;
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
}

.nav-button {
  display: flex; /* flexboxを適用 */
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.nav-button li {
  width: calc(100% - 70px);
}

.nav-button li a {
  display: block;
}

.nav-button li a img{
  width: 100%;
}

.nav-list {
  margin-top: 20px;
}

.nav-list-item {
  position: relative;
  padding-left: 56px;
  padding-bottom: 10px;
}

.nav-list-item:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;/*線の上下位置*/
  display: inline-block;
  width: 100%;/*線の長さ*/
  height: 3px;/*線の太さ*/
  transform: translateX(-50%);/*位置調整*/
  background-color: #1B56FD;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}

.nav-link {
  color: #000;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  font-weight: 700;
  font-size: 2.2rem;
}

.nav-text {
  margin-top: 30px;
}

.nav-addr {
  font-size: 2.0rem;
}

.nav-addr:not(:first-child) {
  margin-top: 10px;
}

.color-red {
  color: #FF0000;
}

.nav-reservation {
}

.nav-reservation img{
  margin-top: 35px;
  width: 80%;
}

.nav-access {
}

.nav-access img{
  margin-top: 35px;
  width: 80%;
}

.nav-TOP {
}

.nav-TOP img{
  margin-top: 35px;
  width: 80%;
}

.left-section {/* main */
  width: calc(100% - 90px);
}

/* メインビジュアル */
.main {
  position: relative;
}

.mv {
  width: 100%;

}

.carousel-section {
  width: 100%;
  transition: width 0.3s ease; /* スムーズな変化 */
}

.main-visual{
  width: 100%;
}

/* carouselドット位置 */
.slick-dots  {
  bottom: 10px!important;
}


.main-logo-area {
  background-image: url("background-img.png");
  background-size: contain;
  position: absolute;
  width: 460px;
  height: 350px;
  top: 0;
}

.logo img{
  max-width: 55%;
  margin-top: 30px;
  margin-left: 40px;
}

.main-addr {
  font-size: 2.0rem;
  margin-top: 10px;
  margin-left: 40px;
}

.main-tel {
  font-size: 2.0rem;
  margin-top: 10px;
  margin-left: 40px;
}

.main-reservation-btm {
  width: 60%;
  height: auto;
}


.main-reservation-btm img{
  max-width: 100%;
  margin-top: 10px;
  margin-left: 30px;
}

.main{
  margin: 40px 95px 0px 95px;
}

/* ここからお知らせ */
.news {
}

.news-title {
  font-size: 2.8rem;
  font-weight: 700;
}

.news-wrap{
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.news-content {

}

.news-list {
  list-style: none;
  margin-top: 10px;
  margin-left: 20px;
}

.news-list-text {
  font-size: 1.6rem;
  position: relative;
  margin: 30px 0 10px 20px;
  border-bottom: solid #1B56FD;
/* 文字制限 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 500px; /* 省略表示する幅を指定 */
}

/* .news-list-text:before {
  content: '';
  position: absolute;
  left: 38%;
  bottom: 0; 線の上下位置
  display: inline-block;
  width: 70%; 線の長さ
  height: 1px;線の太さ
  transform: translateX(-50%);位置調整
  background-color: #1B56FD;線の色
  border-radius: 2px;線の丸み
} */


.news-list-text time{
  margin-right: 60px;
}

.news-list-text a{
  text-decoration: none;
}

.news-list-text p{
  display: inline;
}

.news-more {
  align-self: flex-end;
}

.news-more a{
}

.news-more img{
  width: 240px;
  height: 72px;
}

/* ここからクリニック紹介  */
.about {
margin-top: 80px;
}

.about-title {
  font-size: 3.2rem;
  text-align: center;
}

.br-sp{
  display: block;
}

.about-wrap{
  display: flex;
  margin-top: 60px;
}

.about-img {
}

.about-img img{
  width: 90%;
  border-radius: 2px;
}

.about-content{

}

.about-text {
  margin: 0 auto;
  font-size: 1.8rem;
}

.about-more {
  text-align: right;

}

.about-more img{
  width: 240px;
  height: 72px;
  margin-top: 50px;
}

/* ここから診療内容 */
.services {
  text-align: center;
}

.services-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-top: 100px;
}

.services-text {
  font-size: 1.8rem;
  margin-top: 40px;

}

.services-container {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 30px auto 0;
}

.services-list {
  height: 310px;
  border: 4px solid #1B56FD;
  border-radius: 2px;
  width: calc( 100% / 4 -  25px * 3 / 4 );
  /* （100% / カード枚数 - 余白の幅 * 余白の数 / カード枚数 ) */
  min-width: 230px;
}

.services-list-title {
  font-size: 2.0rem;
  margin-top: 20px;
}

.services-list-img {
  display: flex;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #1B56FD66;/*  66 (40%透明度) */
  margin: 0 auto;
  align-items: center;
  margin-top: 20px;
}

.services-list-img img{
  margin: 0 auto;
}

.services-list-text {
  font-size: 1.8rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.arrow{
	position: relative;
	display: inline-block;
	color: #1B56FD;
}

.arrow::before,
.arrow::after{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	content: "";
	vertical-align: middle;
}

.services-list-arrow::before{
	left: 75px;
	width: 32px;
	height: 4px;
	background: #1B56FD;
	transform: rotate(45deg);
}

.services-list-arrow::after{
	left: 80px;
	width: 25px;
	height: 25px;
	border-right: 4px solid #1B56FD;
	border-bottom: 4px solid #1B56FD;
}


/* ここから院長あいさつ */
.message {
}

.message-title {
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center;
  margin-top: 100px;
}

.message-wrap{
  display: flex;
  margin-top: 60px;
}

.message-img {
}

.message-img img{
  width: 90%;
  border-radius: 2px;
}

.message-content{

}

.message-text {
  margin: 0 auto;
  font-size: 1.8rem;
}

.message-more {
  text-align: right;
}

.message-more img{
  width: 240px;
  height: 72px;
  margin-top: 50px;
}

/* ここからフッター */
.footer {
  margin-top: 150px;
}

.footer-logo {
  text-align: center;
}

.footer-logo img{
  width: 370px;
  height: auto;
}

.footer-container {
  margin: 30px 40px 30px 40px;
  display: flex;
  gap: 65px;
}

.footer-left {
  width: 50.2%;
}

.footer-addr {
  font-size: 1.8rem;
}

.br-sp{
  display: none;
}

.footer-tel {
  font-size: 2.4rem;
  color: #1B56FD;
  margin-top: 30px;
}

.flex-tel{
  display: flex;
  margin: 20px 0 0 0;
}

.tel-number{
  font-size: 2.6rem;
  line-height: 60px;
  margin-left: 15px;
}

.footer-btm {
  margin-left: auto;
  cursor: pointer;
}

.footer-btm img{
  width: 275px;
  height: 70px;
  margin-top: -15px;
}

.flex-information{
  display: flex;
  margin: 40px 0 0 0;
}

.footer-information{
  font-size: 2.6rem;
  color: #1B56FD;
}

.closed-days{
  font-size: 2.0rem;
  color: #000;
  margin-left: auto;
  margin-top: 20px;
}

.information-img{
  margin-top: 20px;
}

.information-img img{
}

.footer-right {
  width: 45.3%;
  /* 右のiframe550px / 全体（左の表の617px+gap48px+右のiframe550px）1215px */
}

.footer-iframe-wrap {
  position: relative;
  width: 100%;
  padding-top: calc(550 / 550 * 100%);
}

.footer-iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.footer-nav {
  background-color: #1B56FD66;/*  66 (40%透明度) */
  margin-top: 40px;
  text-align: center;
}

.footer-nav-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin: 40px 20px 60px 20px;
  font-size: 2.0rem;
}

.footer-column {
  text-align: left;
  min-width: 120px;
  margin-top: 40px;
}

.footer-column a {
  font-weight: 700;
  text-decoration: none;
  color: #000;
  display: block;
}

.footer-column ul {
  list-style: none;
  font-size: 1.8rem;
}

.footer-column ul li {
  margin-top: 10px;
}

.footer-column ul li a {
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.footer-copy {
  font-size: 1.8rem;
  color: #333;
  padding-bottom: 20px;
}


/* レスポンシブ */
@media screen and (max-width: 1279.9px) {

.right-section { /* header-nav*/
  width: 60px;
}

 /* header nav */
.header {
  font-size: 1.4rem;
}

.hamburger-menu {
  width: 60px;
  height: 30px;
  margin-top: 5px;
}

.hamburger-menu-bar {
}

.hamburger-menu-bar:first-child {
  top: 15px;
}

.hamburger-menu-bar:nth-child(2) {
  top: 20px;
}

.hamburger-menu-bar:last-child {
  top: 25px;
}

.hamburger-menu-open .hamburger-menu-bar {
  top: 50%;
}

.hamburger-menu-open .hamburger-menu-bar:first-child {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.hamburger-menu-open .hamburger-menu-bar:last-child {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.hamburger-menu-open .hamburger-menu-bar:nth-child(2) {
  display: none;
}

.nav {
  width: 330px;
  padding: 10px 30px 10px 30px;
}

.nav-logo {
  width: 150px;
}

.nav-logo img{
}

.nav-inner {
  margin-top: 20px;
  max-width: 270px;
}

.nav-button {
}

.nav-button li {
}

.nav-button li a {
}

.nav-button li a img{
}

.nav-list {
  margin-top: 15px;
}

.nav-list-item {
  padding-left: 35px;
  padding-bottom: 8px;
}

.nav-list-item:before {
  height: 2px;
}

.nav-link {
  margin-top: 10px;
  font-size: 1.4rem;
}

.nav-text {
  margin-top: 20px;
}

.nav-addr {
  font-size: 1.2rem;
}

.nav-addr:not(:first-child) {
  margin-top: 8px;
}

.color-red {
}

.nav-reservation img{
  margin: 30px 5px 0 5px;
  width: 70%;
}

.nav-access img{
  margin: 30px 5px 0 5px;
  width: 70%;
}

.nav-TOP {

}

.nav-TOP img{
  margin: 30px 5px 0 5px;
  width: 70%;
}

.left-section {/* main */
  width: calc(100% - 60px);
}

/* メインビジュアル */
.main-logo-area {
  width: 350px;
  height: 260px;
}

.logo img{
  width: 80%;
  height: auto;
}

.main-addr {
  font-size: 1.6rem;
}

.main-tel {
  font-size: 1.6rem;
}

.main-reservation-btm {
  width: 50%;
}

.main-reservation-btm img{

}

.main{
  margin: 40px 80px 0px 80px;
}

/* ここからお知らせ */
.news {
}

.news-title {
  font-size: 1.6rem;
  margin-left: 20px;
}

.news-wrap{
  margin-top: 10px;

}

.news-content {

}

.news-list {
  margin-top: 20px;
  margin-left: 10px;
}

.news-list-text {
  font-size: 1.4rem;
  width: 300px;
}

/* .news-list-text:before {
  left: 35%;
  width: 62%;
} */

.news-list-text time{
  margin-right: 20px;
}

.news-list-text a{
}

.news-list-text p{

}

.news-more {

}

.news-more a{
}

.news-more a img{
  width: 190px;
  height: 55px;
}

/* ここからクリニック紹介  */
.about {
  margin-top: 50px;
}

.about-title {
  font-size: 2.8rem;
}

.br-sp{
}

.about-wrap{
  margin-top: 40px;
}

.about-img {

}

.about-img img{

}

.about-content{

}

.about-text {
  font-size: 1.4rem;
}

.about-more {
}

.about-more img{
  width: 190px;
  height: 55px;
  margin-top: 30px;
}

/* ここから診療内容 */
.services {
  text-align: center;
}

.services-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-top: 80px;
}

.services-text {
  font-size: 1.4rem;
  margin-top: 20px;

}

.services-container {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 20px auto 0;
}

.services-list {
  height: 260px;
  border: 4px solid #1B56FD;
  border-radius: 2px;
  width: calc( 100% / 4 -  25px * 3 / 4 );
  /* （100% / カード枚数 - 余白の幅 * 余白の数 / カード枚数 ) */
  min-width: 180px;
}

.services-list-title {
  font-size: 1.6rem;
  margin-top: 20px;
}

.services-list-img {
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #1B56FD66;/*  66 (40%透明度) */
  margin: 0 auto;
  align-items: center;
  margin-top: 20px;
}

.services-list-img img{
  margin: 0 auto;
  width: 60%;
}

.services-list-text {
  font-size: 1.4rem;
  margin-top: 20px;
}

.arrow{
	position: relative;
	display: inline-block;
	color: #1B56FD;
}

.arrow::before,
.arrow::after{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	content: "";
	vertical-align: middle;
}

.services-list-arrow::before{
	left: 60px;
	width: 20px;
	height: 3px;
	background: #1B56FD;
	transform: rotate(45deg);
}
.services-list-arrow::after{
	left: 60px;
	width: 20px;
	height: 20px;
	border-right: 3px solid #1B56FD;
	border-bottom: 3px solid #1B56FD;
}

/* ここから院長あいさつ */
.message {
}

.message-title {
  font-size: 2.4rem;
  margin-top: 80px;
}

.message-wrap{
  margin-top: 40px;
}

.message-img {

}

.message-img img{
  width: 80%;
}

.message-content{

}

.message-text {
  font-size: 1.4rem;
}

.message-more {

}

.message-more img{
  width: 190px;
  height: 55px;
}

/* ここからフッター */
.footer {
  margin-top: 100px;
}

.footer-logo {
  text-align: center;
}

.footer-logo img{
  width: 250px;
  height: auto;
}

.footer-container {
  margin: 30px 25px 30px 25px;
  display: flex;
  gap: 50px;
}

.footer-left {
  width: 50.2%;
}

.footer-addr {
  font-size: 1.4rem;
}

.br-sp{
  display: block;
}

.footer-tel {
  font-size: 2.0rem;
  margin-top: 20px;
}

.flex-tel{
  display: block;
  margin: 10px 0 0 0;
}

.tel-number{
  font-size: 2.4rem;
  line-height: 30px;
  margin-left: 10px;
}

.footer-btm {
  margin-left: auto;
  cursor: pointer;
}

.footer-btm img{
  width: 220px;
  height: 55px;
  margin-top: 10px;
  margin-left: 10px;
}

.flex-information{
  display: flex;
  margin: 20px 0 0 0;
}

.footer-information{
  font-size: 2.2rem;
}

.closed-days{
  font-size: 1.4rem;
  color: #000;
  margin-left: auto;
  margin-top: 10px;
}

.information-img{
  margin-top: 15px;
}

.information-img img{
}

.footer-right {
  width: 45.3%;
  /* 右のiframe550px / 全体（左の表の617px+gap48px+右のiframe550px）1215px */
}

.footer-iframe-wrap {
  position: relative;
  width: 100%;
  padding-top: calc(550 / 550 * 100%);
}

.footer-iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.footer-nav {
  background-color: #1B56FD66;/*  66 (40%透明度) */
  margin-top: 30px;
  text-align: center;
}

.footer-nav-category {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.0rem 4.0rem;
  margin: 30px 15px 50px 15px;
  font-size: 1.8rem;
}

.footer-column {
  text-align: left;
  min-width: 120px;
  margin-top: 30px;
}

.footer-column a {
  font-weight: 700;
  text-decoration: none;
  color: #000;
  display: block;
}

.footer-column ul {
  list-style: none;
  font-size: 1.4rem;
}

.footer-column ul li {
  margin-top: 10px;
}

.footer-column ul li a {
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.footer-copy {
  font-size: 1.6rem;
  color: #333;
  padding-bottom: 20px;
  text-align: center;

}
}

/* 診療内容 */
@media screen and (max-width: 1014.9px) {
.services-container {
  max-width: 585px;
  gap: 40px;
}
}

@media screen and (max-width: 767.9px) {
.right-section { /* header-nav*/
  width: 60px;
}


 /* header nav*/
.header {
  height: 0vh;
  opacity: 1;
}

.hamburger-menu {
  width: 55px;
  height: 35px;
  background: #E9DFC366;
  border-radius: 10px;
  padding: 0;
}

.hamburger-menu-bar {
}

.hamburger-menu-bar:first-child {
  top: 10px;
}

.hamburger-menu-bar:nth-child(2) {
  top: 15px;
}

.hamburger-menu-bar:last-child {
  top: 20px;
}

.hamburger-menu-open .hamburger-menu-bar {
  top: 50%;
}

.hamburger-menu-open .hamburger-menu-bar:first-child {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.hamburger-menu-open .hamburger-menu-bar:last-child {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.hamburger-menu-open .hamburger-menu-bar:nth-child(2) {
  display: none;
}

.nav {
  width: 100vw;
  height: 100vh;
  padding: 30px 60px 10px 60px;
}

.nav-logo {
  width: 150px;
  margin: 0 auto;
}

.nav-logo img{
}

.nav-inner {
  margin-top: 20px;
  max-width: 270px;
}


.nav-button {
}

.nav-button li {
}

.nav-button li a {
}

.nav-button li a img{
}

.nav-list {
  margin-top: 10px;
}

.nav-list-item {
  padding-left: 25px;
  padding-bottom: 8px;
}

.nav-list-item:before {
}

.nav-link {
  margin-top: 10px;
  font-size: 1.2rem;
}

.nav-text {
  margin-top: 20px;
}

.nav-addr{
  font-size: 1.0rem;
}

.nav-addr:not(:first-child) {
  margin-top: 8px;
}

.color-red {
}

.nav-reservation {
  display: none;
}

.nav-access {
  display: none;
}

.nav-TOP {
  font-size: 1.4rem;
  position: fixed;
  width: 40px;
  bottom: 10px;
}

.nav-TOP img{
  width: 75%;

}

.left-section {/* main */
  width: calc(100% - 0px);
}

/* メインビジュアル */
.main-logo-area {
  width: 175px;
  height: 175px;
}

.logo img{
  width: 70%;
  height: auto;
  margin-top: 10px;
  margin-left: 20px;
}

.main-addr {
  font-size: 1.0rem;
  margin-top: 5px;
  margin-left: 20px;
}

.main-tel {
  font-size: 1.2rem;
  margin-top: 5px;
  margin-left: 20px;
}

.main-reservation-btm img{
  width: 100%;
  height: auto;
  margin-top: 5px;
  margin-left: 20px;
}

.main{
  margin: 40px 40px 0px 40px;
}

/* ここからお知らせ */
.news {
}

.news-title {
  font-size: 1.4rem;
  margin-left: 10px;
}

.news-wrap{
  display: block;
  margin-top: 0px;
}

.news-content {

}

.news-list {
  margin-top: 10px;
  margin-left: 10px;
}

.news-list-text {
  font-size: 1.2rem;
  padding-bottom: 3px;
}

.news-list-text:before {
  left: 52%;
  width: 100%;
}

.news-list-text time{
  margin-right: 10px;
}

.news-list-text a{
}

.news-more {
  text-align: end;
  margin-top: 20px;

}

.news-more a{
}

.news-more a img{
  width: 110px;
  height: 32px;
}

/* ここからクリニック紹介  */
.about {

}

.about-title {
  font-size: 1.8rem;
  margin-top: 60px;
}

.br-sp{
  display: block;
}

.about-wrap{
  display: block;
  margin-top: 20px;
}

.about-img {
  text-align: center;
  margin-top: 20px;
}

.about-img img{
  width: 70%;
}

.about-text {
  font-size: 1.2rem;
  margin-top: 20px;
}

.about-more {

}

.about-more a{
}

.about-more img{
  width: 110px;
  height: 32px;
  margin-top: 20px;
}

/* ここから診療内容 */
.services {
  text-align: center;
}

.services-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 60px;
}

.services-text {
  font-size: 1.2rem;
  margin-top: 15px;

}

.services-container {
  gap: 20px;
  max-width: 425px;
}

.services-list {
  height: 190px;
  border: 3px solid #1B56FD;
  border-radius: 2px;
  width: calc( 100% / 4 -  20px * 3 / 4 );
  /* （100% / カード枚数 - 余白の幅 * 余白の数 / カード枚数 ) */
  min-width: 130px;
}

.services-list-title {
  font-size: 1.4rem;
  margin-top: 15px;
}

.services-list-img {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1B56FD66;/*  66 (40%透明度) */
  margin: 0 auto;
  align-items: center;
  margin-top: 15px;
}

.services-list-img img{
  margin: 0 auto;
  width: 60%;
}

.services-list-text {
  font-size: 1.2rem;
  margin-top: 15px;
}

.arrow{
	position: relative;
	display: flex;
	color: #1B56FD;
}

.arrow::before,
.arrow::after{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	content: "";
	vertical-align: middle;
}

.services-list-arrow::before{
  top: 5px;
	left: 90px;
	width: 20px;
	height: 3px;
	background: #1B56FD;
	transform: rotate(45deg);
}
.services-list-arrow::after{
  top: 5px;
	left: 90px;
	width: 20px;
	height: 20px;
	border-right: 3px solid #1B56FD;
	border-bottom: 3px solid #1B56FD;
}


/* ここから院長あいさつ */
.message {
  margin-top: 50px;
}

.message-title {
  font-size: 1.8rem;
}

.message-wrap{
  display: block;
  margin-top: 20px;
}

.message-img {
  text-align: center;
  margin-top: 20px;
}

.message-img img{
  width: 70%;
}

.message-text {
  font-size: 1.2rem;
  margin-top: 20px;
}

.message-more {

}

.message-more img{
  width: 110px;
  height: 32px;
  margin-top: 20px;
}

/* ここからフッター */
.footer {
  margin-top: 40px;
}

.footer-logo {
  text-align: center;
}

.footer-logo img{
  width: 150px;
  height: auto;
}

.footer-container {
  margin: 20px 25px 20px 25px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-left {
  width: 90%;
  text-align: center;
}

.footer-addr {
  font-size: 1.2rem;
}

.br-sp{
  display: block;
}

.footer-tel {
  font-size: 1.6rem;
  margin-top: 20px;
}

.flex-tel{
  display: block;
  margin: 10px 0 0 0;
}

.tel-number{
  font-size: 1.8rem;
  line-height: 30px;
  margin-left: 10px;
}

.footer-btm {
  margin-left: auto;
  cursor: pointer;
}

.footer-btm img{
  width: 160px;
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
}

.flex-information{
  display: block;
  margin: 40px 0 0 0;
}

.footer-information{
  font-size: 1.8rem;
  color: #1B56FD;
}

.closed-days{
  font-size: 1.0rem;
  color: #000;
  text-align: right;
}

.information-img{
  margin-top: 10px;
}

.information-img img{
  width: 90%;
}

.footer-right {
  width: 100%;
}

.footer-iframe-wrap {
  position: relative;
  width: 100%;
  padding-top: calc(450 / 450 * 100%);
}

.footer-iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.footer-nav {
  background-color: #1B56FD66;/*  66 (40%透明度) */
  margin-top: 30px;
  text-align: start;
}

.footer-nav-category {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.0rem 1.0rem;
  margin: 20px 15px 20px 15px;
  font-size: 1.2rem;
}

.footer-column {
  text-align: left;
  min-width: 120px;
  margin-top: 30px;
}

.footer-column a {
  font-weight: 700;
  text-decoration: none;
  color: #000;
  display: block;
}

.footer-column ul {
  list-style: none;
  font-size: 1.0rem;
}

.footer-column ul li {
  margin-top: 10px;
}

.footer-column ul li a {
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.footer-copy {
  font-size: 1.4rem;
  color: #333;
  padding-bottom: 20px;

}
}

@media screen and (max-width: 519.9px) {

.footer-column {
  text-align: left;
  min-width: 60px;
  margin-top: 40px;
}
.footer-nav-category {
  grid-template-columns: repeat(3, 1fr);
}
}

@media screen and (max-width: 449.9px) {
.main-logo-area {
  width: 120px;
  height: 150px;
}

.logo img{
  max-width: 60%;
  margin-top: 10px;
  margin-left: 10px;
}

.main-addr {
  display: none;
}

.main-tel {
  font-size: 1.0rem;
  margin-top: 5px;
  margin-left: 10px;
}

.main-reservation-btm {
  width: 55%;
  height: auto;
}


.main-reservation-btm img{
  max-width: 100%;
  margin-top: 10px;
  margin-left: 10px;
}
}






